@import "compass/utilities";
@import "compass/css3";

$SRTV           : #F7C2C1; /* #F5C0BF */
$SRMOVIE        : #FCD1C0;
$SRGAME         : #F2C3A1;
$SRBOOK         : #CCDBEB;
$SRMUSIC        : #D3E8C2;
$SRAPP          : #EDEDF0;
$SRPICTURE      : #E0C4DA;
$SRMISC         : #DDBFDD;
$SRANIME        : #F4DE7A;
$SRPINK         : #FFBFE2;
$DMCA           : #FFE8DF;
$TZBLUE         : #369;
$TZRED			: #CC3A00;
$TZORANGE       : #FFB090;
$LIGHTTZBLUE    : #90B2D5;
$DARKTZBLUE     : #0C2C4C;
$TZPINK         : #F5DFD6;
$LIGHTPINK      : #FAEFEB;
$WHITE          : #FFF;
$BLACK          : #000;
$INACTIVEGRAY   : #DDD;
$FORMGRAY       : #F1F2F3;
$LOGOHOVER      : #B3CCE6;
$DARKGRAY       : #333;
$MILKWHITE      : #EEE;
$GREEN          : #00B900;
$BROWN          : #805B4D;
$TEXTBROWN      : #6B3F2E;
$GRAY           : #AAA;
$LIGHTGRAY      : #CCC;
$LIGHTGREEN     : #D4FFD4;
$ORANGE         : #F51;
$WARNRED        : #C00;
$SOFTBLUE       : #BCC6CF;
$GREENUNVERIFIED: #E3C2B5;
$GREENONE       : #A2EB80;
$GREENTWO       : #A2EB80;
$GREENTHREE     : #8DDD69;
$GREENFOUR      : #8DDD69;
$GREENFIVE      : #79CC53;
$GREENSIX       : #79CC53;
$GREENSEVEN     : #69BD43;
$GREENEIGHT     : #69BD43;
$GREENNINE      : #55A72F;
$GREENTEN       : #55A72F;
$COPYAREABG     : rgba(255,255,255,0.8);
$WARNSHADOW     : rgba(0,0,0,0.2);
$RGBATRANSP     : rgba(255,255,255,0);
$INFORMATION    : "/img/information.png";
$RSSIMG         : "/img/rss.png";

.tzAioborderBoxForm {
	@include box-sizing(border-box);
	min-width: 98% !important;
	max-width: 98% !important;
	width: 98% !important;
}

$blinkfrom: 1.0;
$blinkto:   0.0;

@-moz-keyframes blinker {
	from { opacity: $blinkfrom; }
	to { opacity: $blinkto; }
}
@-webkit-keyframes blinker {
	from { opacity: $blinkfrom; }
	to { opacity: $blinkto; }
}
@-keyframes blinker {
	from { opacity: $blinkfrom; }
	to { opacity: $blinkto; }
}

.tz_aio_b.tz_aio_v2 {

	// Overrides for Spectrum
	.sp-container, .sp-replacer {
		@include border-radius(3px);
	}
	.sp-container {
		background-color: rgba(236, 236, 236, 0.95);
		border-color: #567;
	}
	.sp-replacer:hover, .sp-replacer.sp-active {
		border-color: #567;
	}
	.sp-dd {
		padding: 10px 0 2px;
	}
	.sp-preview {
		width: 38px;
		height: 32px;
	}

	// General and resets
	a {
		outline: none;
	}

	input[type='submit']:hover {
		cursor: pointer;
	}

	#tz_aio_help li ul {
		list-style-type: square;
		margin: 0;
		padding: 4px 0 0 16px;
	}

	&.no_ads .SPECIFICELEMENT, &.no_ads .dontblockmebro, &.no_ads .dnotblcokmebro,
	&.no_ads .dnotblockmebro, &.no_ads .removed_ad,
	&.no_ads .SimpleAcceptableTextAds, &.no_ads .SimpleAcceptebleTextAds,
	&.no_ads .PleaseDontDisableTheAutoSuggestScriptThePopCodeIsNotThere {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
		height: 0 !important;
	}

	.tz_aio_settings_form textarea,
	.tz_aio_settings_form input[type='text'],
	.tz_aio_settings_form p {
		@extend .tzAioborderBoxForm;
	}
	.tz_aio_settings_form p.tz_aio_main_radioselect {
		margin-bottom: 10px;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	.autocomplete {
		z-index: 10;
	}

	.trackers a[href*='announcelist_']::after {
		content: " (doesn't include your default trackers)";
		color: $TEXTBROWN;
	}

	.download dl {
		position: relative;
	}

	.tz_aio_info_bar {
		text-align: center;
		position: relative;
		margin: 0;
		font-size: 17px;
		line-height: 30px;
		color: $GREENUNVERIFIED;
		display: block;
		overflow-x: hidden;
		white-space: nowrap;
		font-weight: 400;
		background-image: $LIGHTPINK;
		@include background-image(linear-gradient(right, $WHITE 0%, $LIGHTPINK 20%, $LIGHTPINK 80%, $WHITE 100%));

		a {
			color: $GREENUNVERIFIED;
			&:hover, &:active {
				text-decoration: none;
				color: $GRAY;
			}
			&:active, &.active {
				top: 1px;
				color: $DARKGRAY !important;
			}
		}

		.tz_aio_copylink {
			cursor: pointer;
		}
		.tz_aio_mlink {
			// text-shadow: 1px 1px 2px #FEFEFE;
			border-bottom: 1px dotted $DARKGRAY;
		}
		.tz_aio_mlink, .tz_aio_copylink {
			overflow: visible;
			position: relative;
			&:active, &:hover, &.active {
				text-decoration: underline;
			}
		}

		.tz_aio_seed_green {
			color: $GREEN;
		}

		.tz_aio_seed_black {
			color: $GREENUNVERIFIED;
		}
		.divided {
			padding: 0 2px;
		}
		img {
			vertical-align: text-top;
			border: 0;
			margin-right: 4px;
		}
		.warn {
			color: $WARNRED;
			text-shadow: 0 1px 1px $WARNSHADOW;
			padding-left: 4px;
			-webkit-animation-name: blinker;
			-webkit-animation-iteration-count: 7;
			-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
			-webkit-animation-duration: 1.5s;
			-moz-animation-name: blinker;
			-moz-animation-iteration-count: 7;
			-moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
			-moz-animation-duration: 1.5s;
			animation-name: blinker;
			animation-iteration-count: 7;
			animation-timing-function: cubic-bezier(1.0,0,0,1.0);
			animation-duration: 1.5s;
		}
		.tz_aio_sep {
			color: $RGBATRANSP;
			padding: 0 13px;
			display: inline-block;
			box-sizing: border-box;
			max-width: 16px;
		}
		.tz_aio_unverified_dl {
			color: $GREENUNVERIFIED;
			border-bottom-color: $GREENUNVERIFIED;
		}
		.tz_aio_one_dl {
			color: $GREENONE;
			border-bottom-color: $GREENONE;
		}
		.tz_aio_two_dl {
			color: $GREENTWO;
			border-bottom-color: $GREENTWO;
		}
		.tz_aio_three_dl {
			color: $GREENTHREE;
			border-bottom-color: $GREENTHREE;
		}
		.tz_aio_four_dl {
			color: $GREENFOUR;
			border-bottom-color: $GREENFOUR;
		}
		.tz_aio_five_dl {
			color: $GREENFIVE;
			border-bottom-color: $GREENFIVE;
		}
		.tz_aio_six_dl {
			color: $GREENSIX;
			border-bottom-color: $GREENSIX;
		}
		.tz_aio_seven_dl {
			color: $GREENSEVEN;
			border-bottom-color: $GREENSEVEN;
		}
		.tz_aio_eight_dl {
			color: $GREENEIGHT;
			border-bottom-color: $GREENEIGHT;
		}
		.tz_aio_nine_dl {
			color: $GREENNINE;
			border-bottom-color: $GREENNINE;
		}
		.tz_aio_ten_dl {
			color: $GREENTEN;
			border-bottom-color: $GREENTEN;
		}
		.tz_aio_fake_dl {
			color: #FF5511;
			border-bottom-color: #FF5511;
		}

	}

	.tz_aio_dllink {
		display: block;
		width: 126px;
		height: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		position: absolute;
		top: 0;
		right: 62px;
		em {
			color: $BROWN;
			font-size: 12px;
			line-height: 20px;
			height: 20px;
			font-style: normal;
			font-weight: normal;
			display: block;
			text-align: center;
			background: $TZPINK;
			white-space: nowrap;
			overflow: visible;
			@include border-radius(2px);
		}
		&:hover em {
			background: $GREEN;
			color: $WHITE;
			@include box-shadow(inset 0 0 2px $GREEN);
		}
		&:active {
			top: 2px;
		}
		&.visited em {
			color: $BLACK;
		}
	}
	// Reset default background
	.download dl dt a {
		&:hover {
			background-color: transparent;
		}
		&.tz_aio_dllink:hover ~ a, &.tz_aio_dllink:hover + a, &:hover {
			background-image: $LIGHTPINK;
			@include background-image(linear-gradient(left, $LIGHTPINK 0%, $LIGHTPINK 79%, $WHITE 100%));
		}
	}
	h2 span::selection,
	.tz_aio_copy_textarea textarea::selection {
		color: $WHITE;
		background-color: $TZBLUE;
	}
	h2 span::-moz-selection,
	.tz_aio_copy_textarea textarea::-moz-selection {
		color: $WHITE;
		background-color: $TZBLUE;
	}
	.tz_aio_copy_textarea textarea:focus {
		outline: none;
	}
	.tz_aio_copy_textarea, .tz_aio_copy_textarea textarea {
		@include box-sizing(border-box);
	}
	.tz_aio_copy_textarea {
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		padding: 10px;
		width: 500px;
		height: 280px;
		@include border-corner-radius(top, right, 3px);
		@include border-corner-radius(bottom, right, 3px);
		@include border-corner-radius(bottom, left, 3px);
		@include box-shadow(0 5px 15px $TZBLUE);
		background: $COPYAREABG;
		textarea {
			border: 0;
			white-space: pre;
			overflow: auto;
			padding: 0;
			color: $DARKGRAY;
			background-color: $WHITE;
			font-size: 13px;
			// 'Ubuntu Mono', Menlo, Monaco, Consolas, Inconsolata, FreeMono, monospace
			line-height: 1.2;
			width: 100%;
			height: 100%;
		}
	}

	.download h2 {
		position: relative;
	}
	.tz_aio_searchtabs {
		display: block;
		float: none;
		height: 1px;
		max-height: 1px;
		background: transparent;
		overflow: visible;
		position: relative;
		top: -1px;
		z-index: 2;
		padding: 0 6px 0 0;
		margin: 0 0 -10px;
		border: 0 none;
		&:empty {
			overflow: hidden;
			opacity: 0;
		}
		&, & .search_link {
			font-size: 15px;
			line-height: 16px;
			color: $WHITE;
			text-align: center;
		}
		.search_link {
			display: inline-block;
			margin-right: 5px;
			padding: 1px 10px 6px;
			background: $TZORANGE;
			background-image: $TZORANGE;
			@include background-image(linear-gradient(top, $TZORANGE 0%, $TZORANGE 25%, #FFC9B3 100%));
			@include border-corner-radius(bottom, right, 6px);
			@include border-corner-radius(bottom, left, 6px);
			@include box-shadow(0px 3px 1px rgba(255,255,255,0.4));
			&:hover {
				color: $BLACK;
			}
			&:active {
				color: $WHITE;
			}
		}
		a img {
			position: relative;
			top: 4px;
			left: 3px;
		}
		a:last-of-type {
			margin-right: 0;
		}
	}

	// Settings
	li.tz_aio_settings {
		position: relative;
	}
	&.tz_aio_settings_saved .tz_aio_settings a::after,
	.tz_aio_settings.tz_aio_settings_open a::after {
		background-color: $WARNRED;
		@include border-bottom-left-radius(3px);
		color: white;
		font-size: 12px;
		font-weight: bold;
		padding: 1px 3px;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.tz_aio_settings_saved .tz_aio_settings a::after {
		content: "Saved";
	}
	&.tz_aio_settings_saved .tz_aio_settings.tz_aio_settings_open a::after,
	.tz_aio_settings.tz_aio_settings_open a::after {
		content: "X";
	}

	.generic.tz_aio_info_p em,
	.generic.tz_aio_info_p .warn_old_user {
		font-style: italic;
		font-size: small;
	}

	.generic.tz_aio_info_p .warn_old_user {
		color: $WARNRED;
	}

	.generic.tz_aio_info_p,
	.tz_aio_settings_form {
		height: 0px;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}

	.tz_aio_settings_form.expand {
		margin: 10px 0;
	}

	.generic.tz_aio_info_p.expand {
		background-color: $WHITE;
	}

	.generic.tz_aio_info_p.expand,
	.tz_aio_settings_form.expand {
		padding: 10px;
		height: auto;
		overflow: auto;
	}

	.generic.tz_aio_info_p.expand {
		@extend .tzAioborderBoxForm;
		background-position: center right;
		background-repeat: no-repeat;
		@include background-size(auto 100%);
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 10px;
		padding-right: 85px;
		text-align: right;
		font-size: 14px;
		margin-bottom: -20px;
	}

	form#tz_aio_settings_submit.expand ~ div.sp-container {
		display: inline-block;
	}

	form#tz_aio_settings_submit ~ div.sp-container.sp-hidden {
		display: none;
	}

	form#tz_aio_settings_submit.expand ~ * {
		display: none;
	}

	.tz_aio_current_version_mark {
		background-color: $LIGHTGREEN;
		@include border-radius(5px);
		display: inline-block;
		padding: 0 2px;
	}

	.tz_aio_settings_form {

		.tz_aio_code_snippet {
			padding: 10px;
			font-family: monospace;
			white-space: pre-wrap;
			overflow: auto;
			display: block;
			border-top: 1px solid #333;
			&:first-of-type {
				margin-top: 10px;
				border-top: 0;
			}
		}
		fieldset {
			> p {
				margin-bottom: 20px;
			}
			> div {
				margin-bottom: 20px;
				&.s {
					margin-bottom: 0;
					> a {
						font-size: 13px;
						display: inline-block;
						&:last-of-type {
							margin-right: 15px;
						}
					}
				}
			}
			> label:first-of-type {
				margin-top: 10px;
				&::after {
					content: 'Remember to hit "Save"';
					position: relative;
					top: -30px;
					font-size: 12px;
					float: right;
				}
			}
		}

		.tz_aio_new_version_msg, .tz_aio_update_message {
			font-size: 16px;
			mark {
				background-color: $SRANIME;
				@include border-radius(5px);
				display: inline-block;
				padding: 8px 10px;
				@include box-shadow(3px 3px 0 $DARKGRAY);
			}
			mark.tz_aio_alt_msg {
				background-color: $TZORANGE;
			}
		}

		.tz_aio_user_sr_paragraph {
			overflow: hidden;
			position: relative;
		}

		.tz_aio_user_sr_color_box {
			float: left;
			width: 10%;
		}
		.tz_aio_user_sr_color_box:last-of-type {
			width: 9.999%;
		}

		 .tz_aio_user_sr_color_title {
		 	font-size: 14px;
		 	font-style: normal;
		 	display: block;
		 	text-indent: 5px;
		 }

		 .tz_aio_user_colors_shield {
	 		background: $FORMGRAY;
			display: none;
		 	&.shield {
		 		display: block;
		 		position: absolute;
		 		top: 0; bottom: 0;
		 		left: 0; right: 0;
		 		z-index: 5;
		 		opacity: 0.67;
		 	}
		 }

		input[type='text'] {
			font-family: monospace;
			margin-bottom: 0;
			background-color: $WHITE;
		}

		textarea {
			height: 195px;
			border: 1px solid $SOFTBLUE;
			padding: 10px;
			background-color: $WHITE;
			@include border-radius(5px);
		}

		p label {
			float: left;
			position: relative;
			overflow: hidden;
			display: inline-block;
			@include border-radius(3px);
			background-color: $INACTIVEGRAY;
			background: repeating-linear-gradient(
				-45deg,
				$INACTIVEGRAY,
				$INACTIVEGRAY 10px,
				$FORMGRAY 10px,
				$FORMGRAY 20px
			);
			@include box-shadow(inset 1px 1px 1px $GRAY, inset -1px -1px 1px $GRAY);
			padding: 7px 10px 9px;
			margin: 0 10px 10px 0;
			color: $DARKGRAY;
			line-height: 1;
			min-width: 100px;
			text-align: center;
			&:nth-of-type(6) {
				clear: both;
			}
			input[type='checkbox'] {
				position: absolute;
				top: 0px;
				left: -100px;
			}
			&:hover {
				color: #111;
			}
			&.tz_aio_boolean_opt {
				background: repeating-linear-gradient(
					45deg,
					$INACTIVEGRAY,
					$INACTIVEGRAY 10px,
					$FORMGRAY 10px,
					$FORMGRAY 20px
				);
			}
			&.active {
				@include box-shadow(0 1px 0 $WHITE);
				background-color: $LOGOHOVER;
				background-image: none;
				color: $BLACK;
				&.tz_aio_boolean_opt {
					background-color: $TZBLUE;
					color: $WHITE;
				}
			}
		}
		p label:hover, p input[type="checkbox"]:hover,
		.tz_aio_importer_forms button, .tz_aio_exporter_forms button,
		.tz_aio_importer_forms button:hover, .tz_aio_exporter_forms button:hover {
			cursor: pointer;
		}
		.tz_aio_importer_forms, .tz_aio_exporter_forms {
			display: block;
		}
		.tz_aio_importer_forms.hide, .tz_aio_exporter_forms.hide {
			display: none !important;
		}

	}

	.results {
		.tz_aio_episode_nav_links {
			float: left;
			text-align: left;
			margin-right: 10px;
			&.no_res_eps {
				float: none;
				display: block;
			}
		}
		.tz_aio_keyword_highlighter_links {
			&::before {
				content: "Mark: ";
			}
			&:empty::before {
				content: "";
			}
			a {
				display: inline-block;
				padding: 0 2px;
				// font-size: 11px;
				&.active_mark {
					color: #2E4C6B;
					font-weight: 700;
				}
			}
		}
	}
	.results > dl {
		position: relative !important;
		background-color: $WHITE;
		& > dt {
			width: 826px;
			& > a mark {
				color: inherit;
				font-weight: inherit;
				font-style: inherit;
				background-color: transparent;
				@include border-radius(1px);
				&.show_mark {
					background-color: yellow;
					+ mark.show_mark {
						background-color: #01ff70;
						color: $WHITE;
						+ mark.show_mark {
							background-color: #f012be;
							color: $WHITE;
							+ mark.show_mark {
								background-color: $TZBLUE;
								color: $WHITE;
							}
						}
					}
				}
				&.tz_aio_toggle_off[style] {
					color: inherit !important;
					font-weight: inherit !important;
					font-style: inherit !important;
					background-color: transparent !important;
				}
			}
		}
	}
	.results > dl:hover {
		position: relative;
		z-index: 9;
	}
	.results .tz_aio_magnet {
		width: 24px;
		height: 16px;
		position: absolute;
		bottom: 7px;
		left: 830px;
		overflow: visible;
		z-index: 5;
		a {
			@include border-radius(2px);
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 12px;
			font-weight: bold;
			color: $WHITE;
			&:hover {
				color: $BLACK;
				text-decoration: none;
			}
			&:active {
				top: 1px;
				bottom: -1px;
				text-decoration: none;
			}
		}
	}
	.results .tz_aio_exclude_filter_count:hover {
		cursor: pointer;
	}
	.approximate_rss_link {
		margin-left: 10px;
		color: rgba(0,0,0,0);
		img {
			opacity: 0.5;
		}
		&:hover img {
			opacity: 1;
		}
	}
}
.tz_aio_b.tz_aio_v2 .results {
	.meta-info {
		text-align: center;
		width: 100%;
		&.colorizeme, &.colorizeme:hover {
			background-color: $DMCA;
			border-bottom-color: $DMCA;
			@include box-shadow(none);
			position: static;
		}
		dt {
			width: auto;
		}
	}
	.meta-dmca {
		color: $TZRED;
		margin-right: 20px;
	}
}
.tz_aio_b.tz_aio_v2.tz_aio_colorized .results {
	> h2, > h3 {
		border-bottom: 0 none;
	}
	> dl {
		&:first-of-type {
			box-shadow: 0px -1px 0px #DCDCDC;
		}
		&:hover {
			border-bottom-color: $WHITE;
			@include box-shadow(0 -1px 0 #DCDCDC, inset 1px 0 1px $WHITE, inset -1px 0 0 $WHITE);
		}
		&.inactive::after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0; bottom: 0;
			left: 0;
			right: 0;
			background-color: $TZPINK;
			opacity: 0.55;
		}
		&.inactive:hover::after {
			display: none;
		}
		&.pink {
			background-color: $SRPINK;
		}
		&.tv {
			background-color: $SRTV;
		}
		&.movie {
			background-color: $SRMOVIE;
		}
		&.game {
			background-color: $SRGAME;
		}
		&.book {
			background-color: $SRBOOK;
		}
		&.music {
			background-color: $SRMUSIC;
		}
		&.app {
			background-color: $SRAPP;
		}
		&.picture {
			background-color: $SRPICTURE;
		}
		&.misc {
			background-color: $SRMISC;
		}
		&.anime {
			background-color: $SRANIME;
		}
	}
}
.tz_aio_b.tz_aio_v2 .results dl {
	&.tz_aio_unverified_dl_bg .tz_aio_magnet a,
	&.tz_aio_unverified_dl_bg span.v {
		background-color: #C2C7BD !important;
	}
	&.tz_aio_one_dl_bg .tz_aio_magnet a {
		background-color: $GREENONE;
	}
	&.tz_aio_two_dl_bg .tz_aio_magnet a {
		background-color: $GREENTWO;
	}
	&.tz_aio_three_dl_bg .tz_aio_magnet a {
		background-color: $GREENTHREE;
	}
	&.tz_aio_four_dl_bg .tz_aio_magnet a {
		background-color: $GREENFOUR;
	}
	&.tz_aio_five_dl_bg .tz_aio_magnet a {
		background-color: $GREENFIVE;
	}
	&.tz_aio_six_dl_bg .tz_aio_magnet a {
		background-color: $GREENSIX;
	}
	&.tz_aio_seven_dl_bg .tz_aio_magnet a {
		background-color: $GREENSEVEN;
	}
	&.tz_aio_eight_dl_bg .tz_aio_magnet a {
		background-color: $GREENEIGHT;
	}
	&.tz_aio_nine_dl_bg .tz_aio_magnet a {
		background-color: $GREENNINE;
	}
	&.tz_aio_ten_dl_bg .tz_aio_magnet a {
		background-color: $GREENTEN;
	}
	&.tz_aio_fake_dl_bg .tz_aio_magnet a {
		background-color: #FDBFBF;
	}
}
